<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      @font-face {
        font-family: "{{family}}";
        src: url("{{url}}");
      }
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      body {
        background: transparent;
        overflow: hidden;
      }
      #text {
        font-family: "{{family}}";
        display: inline-block;
        font-size: 32px;
        line-height: 1.5;
      }
    </style>
  </head>
  <body>
    <div id="text">{{text}}</div>
  </body>
</html>
